<h1> Forgot Password</h1>
<?php 
    if ($status=='failed')
    {
      echo "<div><strong>Invalid Emai or User does not exists!</strong></div>"; 
    }
?>
<div class="row">
	<div class="full">
		<div class="box">
			<h2>Please provide your email</h2>
			<form action="/dashboard/forgot-password/forgot" method="post" name="forot" enctype='multipart/form-data' id="dashboard-form" class="form-validate">
				<input type="hidden" name="do" value="forgot">

				<?php echo $render->Render_form();?>

				<div class="submit_but">
					<button type="submit" id="submit" class="btn btn-primary btn-sm">Password Recovery</button>
				</div>
			</form>
		</div>
	</div>
</div>
