<h1> Reset Password</h1>
<?php 
	if ($status=='error')
    {
		echo "<div><strong>Password do not match, both password should be same.!</strong></div>"; 
	}
    if ($status=='empty')
    {
      echo "<div><strong>Password is empty!</strong></div>"; 
    }
?>
<div class="row">
	<div class="full">
		<div class="box">
			<h2>Sign up</h2>
      <?php if ($expDate >= $curDate){ ?>
			<form action="/dashboard/reset-password/reset" method="post" name="reset" enctype='multipart/form-data' id="dashboard-form" class="form-validate">
				<input type="hidden" name="do" value="reset">
				<input type="hidden" name="email" value="<?php echo $email; ?>">

				<?php echo $render->Render_form();?>

				<div class="submit_but">
					<button type="submit" id="submit" class="btn btn-primary btn-sm">Reset Password</button>
					<strong>Registered? </strong><a href="/dashboard/login" class="btn btn-primary btn-sm">Sign In</a>
				</div>
			</form>
      <?php } else { ?>
          <h2>Link Expired</h2>
          <p>The link is expired. You are trying to use the expired link which 
          as valid only 24 hours (1 days after request).<br /><br /></p>
      <?php } ?>
		</div>
	</div>
</div>
<script src="<?php echo RESOURCES_JS; ?>/dashboard/password.js?v=<?php echo date('YmdHis')?>"></script>	</head>

